.running, .cloned_runner{
    padding: 0;
}

.running_body{
    background: #F54932;
    padding: 18px 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
}
.running_body p { 
    width:100%;
    text-indent:0;
    -webkit-animation: marquee 20s linear infinite;
            animation: marquee 20s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.running_body p img{
    margin: 0 12px;
}
.running_body p:hover{
    -webkit-animation-play-state: paused;
            animation-play-state: paused
}

.running_body span{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -18px;
}

@-webkit-keyframes marquee {
    0%  { -webkit-transform: translate(100%, 0); transform: translate(100%, 0); }
    100% { -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
}

@keyframes marquee {
    0%  { -webkit-transform: translate(100%, 0); transform: translate(100%, 0); }
    100% { -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
}
@media screen and (max-width: 440px) {
    .marquee p{
        -webkit-animation:none;
                animation:none;
        padding-left:0
    }    
}