@import url('reset.css');
@import url('header.css');
@import url('font.css');
@import url('description.css');
@import url('stages.css');
@import url('users.css');
@import url('footer.css');
@import url('running.css');

body{
    font-family: 'Merriweather', serif;
    color: #313131;

}

.container{
    margin: 0 20px;
    max-width: 1222px;
}

section{
    padding: 48px 0 72px 0;
}

@media only screen and (min-width: 1280px) {
    .container{
        margin: 0 auto;
    }

    section{
        padding: 80px 0 120px 0;
    }
}

a{
    text-decoration: none;
    color: rgba(48, 87, 162, 1);
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
}
button{
    cursor: pointer;
}