.users{

}

.users__title{
    font-size: 54px;
    font-weight: 400;
    line-height: 64.8px;
    text-align: left;
}

.users__box{
    
    position: relative;
    width: 100%;
    overflow: hidden;
}


.users__carusel{
    margin-top: 60px;
    display: flex;
    transition: transform 0.3s ease;
}

.users__card{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 0 33.33%;
}
.users__card_avatar{
    width: 320px;
    height: 320px;
    margin-bottom: 28px;
}

.users__card_name{
    font-family: Golos Text;
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 6px;
}

.users__card_discr{
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    opacity: 0.6;
}

.users__card_button{
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #3057A2;
    background: none;
    width: 113px;
    height: 35px;
    border-radius: 62px;
    border: 1px solid #3057A2;
}

.users__arrows{
    position: absolute;
    top:0;
    right: 6px;
    display: flex;
    align-items: center;
    
}

.users__arrow{
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background-color: unset;
    padding: 0;
}

.users__counter{
    margin: 0 14px;
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    opacity: 0.6;
}

.users__arrow:hover circle{
    fill:#FBCE51;
}

.users__arrow--deactive circle{
    fill:#D6D6D6;
}
